<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <script src="template.js"></script>
    <script src="../../header.js"></script>
    <script src="../../utils.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://nosir.github.io/cleave.js/dist/cleave.min.js"></script>
    <link rel="stylesheet" href="../../style.css">
    <link rel="stylesheet" href="template.css">
    <link rel="icon" href="../../assets/favicon-logo-FPF-White.svg" type="image/svg+xml">
    <title>Form</title>
</head>
<body>
    <div class="mainContainer" id="mainContainerBlueBackground">
        <div id="formBackground"></div>
        <div class="header">
            <div id="left">
                <button id="logoHeader">
                    <img src="../../assets/logos alinhadas.png" alt="FPF UNIVALE ETEIT UNIVALE TV" />
                </button>
                <button id="logoHeaderSmall">FPF</button>
            </div>
            <div id="right">
                <div id="containerUser">
                    <div id="optionsUser">
                        <span id="nomeUser"><div class="skeleton-text" id="userName"></div></span>
                        <span id="setorCurso">Setor/Curso:</span>
                        <span id="darkMode">Dark Mode: Off</span>
                        <Span id="sair">Sair</Span>
                    </div>
                </div>
            </div>
        </div>
        <div class="topOptionsBar">
            <div id="leftForm">
                <button class="whiteButton" id="returnToProcessCards" onclick="history.back()" style="display: none;">Voltar</button>
                <button class="whiteButton" id="somenteSalvar" style="display: none;">Somente salvar</button>
            </div>
            <div id="right">
                <button class="whiteButton" id="cancelForm" style="display: none;">Cancelar</button>
                <button class="whiteButton" id="sendForm" style="display: none;">Enviar Formulário</button>
            </div>
        </div>
        <div class="containerForm">
            <div id="divFormPaper">
                <div id="formPaper">
                    <!--Conteudo do formulário-->
                    
                </div>
            </div>
        </div>
    </div>
    <div id="selectTipoAtividade" style="display: none;">
        <div id="selectBackgroud">
        </div>
        <div class="popupCard">
            <p>Curso/Setor</p>
            <select name="selectCursoSetor" id="selectCursoSetor" class="FormInputs">
            </select>
            <button class="blueButton" id="confirmarSetor">Confirmar</button>
        </div>
    </div>

    <div id="cancelFormPopup" style="display: none;">
        <div id="cancelBackgroud">
        </div>
        <div class="popupCard">
            <p>Tem certeza que deseja cancelar?</p>
            <div class="popupButtons">
                <button id="cancel" class="redHover">Sim</button>
                <button id="dontCancel" class="blueHover">Não</button>
            </div>
        </div>
    </div>

    <div id="sendFormPopup" style="display: none;">
        <div id="sendBackgroud">
        </div>
        <div class="popupCard">
            <p id="enviarPara"></p>
            <div class="popupButtons">
                <button id="btnCorrigir" class="redHover">Corrigir</button>
                <button id="btnEnviar" class="blueHover">Enviar</button>
            </div>
        </div>
    </div>

    <div id="loadingFullScreen" style="display: none;">
        <span class="loader-6"></span>
    </div> 
</body>
</html>