:root {
    --base-color: #0033CA;
    --base-color-hover: #0040FF;
    --background-color: white;
    --background-color-hover: #f2f2f2;
    --btn-background-color: white;
    --popup-btn-background-color: white;
    --font-color: black;
    --cards-situation-color: #D9D9D9;
    --border-color: #727272;
    --tr-background-color: #f9f9f9;
    --tr-background-color-hover: #f9f9f9;
    --td-font-color: #666;
    --th-background-color: #58595b;
    --file-upload-hover: #e0f0ff;
    --file-upload-label-font-color: #0033ca;
    --logos-background: white;
}

.dark-mode{
    --base-color: #0033CA;
    --base-color-hover: #0040FF;
    --background-color: #000629;
    --background-color-hover: #585858;
    --btn-background-color: #000629;
    --popup-btn-background-color: #0033CA;
    --font-color: #F5F5F5;
    --cards-situation-color: #656565;
    --border-color: #727272;
    --tr-background-color: #2b2a33;
    --tr-background-color-hover: #242424;
    --td-font-color: #F5F5F5;
    --file-upload-hover: #0033ca;
    --file-upload-label-font-color: #F5F5F5;
    --logos-background: #cccccc;
}

body {
    font-family: Inter;
}

#formHeader {
    display: flex;
    width: 100%;
    font-family: Inter;
}

#logosForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-grow: 1;
    margin-right: 1.875rem;
    width: 18.75rem;
}

#info{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1.25rem;
    font-family: Inter;
}

#radioButtonsTipoJus {
    display: flex;
    font-family: Inter;
    gap: 0.625rem;
}

#relatos {
    font-family: Inter;
    padding-left: 1.875rem;
    flex-grow: 1;
}

hr {
    height: 0.125rem;
    margin: 3.75rem 0px 1.25rem 0px;
}

.btnDelete {
    padding: 0.625rem;
    background-color: var(--th-background-color);
    color: white;
    border: 0px;
    border-radius: 5px;
    cursor:pointer;
}

.btnDelete:hover {
    background-color: #FF0000;
    color: white;
}

#btnADD {
    font-size: 1rem;
    width: fit-content;
    height: 2.5rem;
    padding: 0rem 0.625rem;
}
 
table {
    border-collapse: collapse;
    border-radius: 8px;
    border-spacing: 0;
    width: 100%;
    margin: 1.25rem auto;
    font-family: Inter;
}

th {
    background-color: var(--th-background-color);
    border: 1px solid var(--th-background-color);
    color: #F5F5F5;
    font-weight: bold;
    padding: 0.625rem;
}

th:nth-child(1) {
    width: 6.25rem;
}

th:nth-child(3) {
    width: 6.25rem;
}

th:nth-child(4) {
    width: 6.25rem;
}

th:nth-child(5) {
    width: 6.25rem;
}  

th:nth-child(6) {
    width: 6.25rem;
}

th:nth-child(7) {
    width: 3.125rem;
}

tr {
    border-bottom: 1px solid #ccc;
}

td {
    padding: 0.625rem;
    text-align: left;
    border: 1px solid var(--border-color);
    text-align: center;
}

tr:hover {
    background-color: var(--tr-background-color-hover);
}

tr:selected {
    background-color: #ccc;
}

#cancelFormPopup {
    position: absolute;
    top: 0rem;
    left: 0px;
    width: 100vw;
    height: 100dvh;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: all 200ms cubic-bezier(.12,.12,0,1);
    @starting-style {
        opacity: 0;
    }
}

#cancelBackgroud {
    position: absolute;
    top: 0rem;
    left: 0px;
    width: 100%;
    height: 100%;
}

.blueHover {
    width: 7.5625rem;
    height: 3rem;
    background-color: var(--popup-btn-background-color);
    color: var(--font-color);
    border: 0px;
    border-radius: 8px;
    font-family: Inter;
    font-size: 24px;
    cursor: pointer;
}

.blueHover:hover {
    background-color: var(--base-color-hover);
    color: white;
}

.redHover {
    width: 7.5625rem;
    height: 3rem;
    background-color: var(--popup-btn-background-color);
    color: var(--font-color);
    border: 0px;
    border-radius: 8px;
    font-family: Inter;
    font-size: 1.5rem;
    cursor: pointer;
}

.redHover:hover {
    background-color: #FF0000;
    color: white;
}

.popupButtons {
    display: flex;
    gap: 2.5rem;
}

#sendFormPopup {
    position: absolute;
    top: 0rem;
    left: 0rem;
    width: 100vw;
    height: 100dvh;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: all 200ms cubic-bezier(.12,.12,0,1);
    @starting-style {
        opacity: 0;
    }
}

#sendBackgroud {
    position: absolute;
    top: 0rem;
    left: 0rem;
    width: 100%;
    height: 100%;
}

#logoInfo {
    display: flex;
    justify-content: center;
    width: 100%;
}

#headerSubdivision {
    width: 50%;
}

#fpfMission {
    display: flex;
    flex-direction: column;
    margin-top: 4.6875rem;
    gap: 3.125rem;
}

#subtitle {
    display: flex;
    justify-content: center;
    margin-bottom: 1.25rem;
    font-family: Inter;
}

#formAttachment {
    height: 30px;
    width: fit-content;
    font-size: 1rem;
    padding: 0 0.625rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 0.625rem;
}

#formAttachmentPopup {
    position: absolute;
    top: 0rem;
    left: 0rem;
    width: 100vw;
    height: 100dvh;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: all 200ms cubic-bezier(.12,.12,0,1);
    @starting-style {
        opacity: 0;
    }
}

#formAttachmentBackgroud {
    position: absolute;
    top: 0rem;
    left: 0rem;
    width: 100%;
    height: 100%;
}

/* Estilos para a lista de arquivos */
.file-list {
    width: 100%;
    max-width: 500px; /* Largura máxima controlada */
    padding: 10px;/* Usando a cor base para a borda */
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espaçamento entre os itens */
    overflow: hidden; /* Garante que nada saia da área */
    box-sizing: border-box; /* Inclui o padding e borda no cálculo de largura */
    overflow-y: auto;
}

/* Estilos para o botão de upload */
.file-upload {
    width: 100%; /* Garantir que ocupe toda a largura da lista */
    height: 3.75rem;
    border: 2px dashed var(--base-color); /* Cor base no contorno */
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.file-upload:hover {
    background-color: var(--file-upload-hover); /* Cor de fundo alterada para o tom mais claro do azul */
}

.file-upload-label {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    width: 100%;
    height: 100%;
    min-height: 3.0625rem;
    color: var(--file-upload-label-font-color); /* Cor base para o texto */
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.custom-file-input {
    display: none;
}

/* Estilos para os itens da lista de arquivos */
.file-list li {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s;
    width: 100%; /* Ocupa toda a largura da lista */
    box-sizing: border-box; /* Para garantir que o padding e borda não ultrapassem a largura */
}

.file-list li:hover {
    background-color: var(--file-upload-hover);
}

.file-list li .file-icon {
    margin-right: 10px;
    font-size: 20px;
    color: var(--base-color); /* Cor base para o ícone */
}

.file-list li .file-name {
    font-size: 16px;
    color: var(--font-color);
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.file-list li .remove-icon {
    margin-left: 0.625rem;
    cursor: pointer;
    color: #ff0000;
    font-size: 18px;
}

.file-list li .remove-icon:hover {
    color: #d32f2f;
}

.file-list li .download-icon {
    margin-left: 0.625rem;
    cursor: pointer;
}

.file::-webkit-scrollbar {
    width: 0.5rem;
}

.file::-webkit-scrollbar-track {
    background: #656565;
    border-radius: 0;
}

.file::-webkit-scrollbar-thumb {
    background: #0033CA;
    border-radius: 0.5rem;
    width: 0.5rem;
    border: none;
}

.file {
    scrollbar-width: thin;
    scrollbar-color: #0033CA #656565;
}

#btnConfirmarAttachment {
    font-size: 0.875rem;
    width: 23%;
    padding: 0.4375rem;
} 

#formBackground {
    position: fixed;
    top: 0;
    left: 0;
    background: var(--background-color);
    width: 100vw;
    height: 100dvh;
    z-index: -1;
}

@media (max-width: 762px) {
    #logosForm {
        display: none;
    }

    #fpfMission {
        display: none;
    }

    #formHeader {
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 100%;
        font-family: Inter;
    }

    #headerSubdivision {
        width: 100%;
    }

    #relatos {
        font-family: Inter;
        padding-left: 0rem;
        flex-grow: 1;
    }

    #info{
        width: 100%;
    }

    th:nth-child(1) {
        width: auto;
    }

    th:nth-child(2) {
        width: auto;
    }
    
    th:nth-child(3) {
        width: auto;
    }
    
    th:nth-child(4) {
        width: auto;
    }
    
    th:nth-child(5) {
        width: auto;
    }  
    
    th:nth-child(6) {
        width: auto;
    }
    
    th:nth-child(7) {
        display: auto;
        visibility: hidden;
        border: 0px;
    }
}
